@charset "UTF-8";

section#corpo {
    margin: 10px;
}

#iframe .frame-specs {
    width: 550px;
    margin-left: 120px;
    height: 300px;   
    border: none;
    overflow: hidden;
}

.frame-specs::-webkit-scrollbar {
    display: none;
}
